<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>SCP DIPLOM</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'><link rel="stylesheet" href="./style.css">
</head>
<body style="background-image: url(/media/main_page/fon.jpg); min-height:100%; background-size:cover;">


<div class="container">
  <div class="jumbotron">
    <div class="row">

        <h1 class="text-center text-uppercase">SCP Foundation</h1>
        <div class="thumbnail">
          <img src="https://files.scpfoundation.net/local--files/keter/keter.jpg">

        </div>
      </div>

      <div class="row">

       <h3 align="center">Классификация:</h3>
        </div>
        
        <div align="center">
          <h4 class="alert alert-danger text-center">Keter</h4>
          <p>Класс «Кетер» присваивается тем объектам, которые проявляют явную и активную враждебность по отношению к человеческой жизни, цивилизации и/или пространству‑времени и способны вызвать значительные разрушения в случае нарушения условий содержания. Такие объекты должны быть каталогизированы, содержаться в соответствии с особыми условиями сдерживания и, если это возможно, уничтожаться. </p>
        </div>
  </div>
</div>

</body>
</html>
