<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>SCP DIPLOM</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'><link rel="stylesheet" href="./style.css">
</head>
<body style="background-image: url(https://external-preview.redd.it/QIu29p0kGIHVVevUQFlS56mxw5owDNY36qlkfgOOlAI.png?format=pjpg&auto=webp&s=cb7e3f2b57611639f3c8c40796e75ddadb5b9432); min-height:100%; background-size:cover;">

<div class="container">
  <div class="jumbotron">
    <div class="row">

        <h1 class="text-center text-uppercase">SCP Foundation</h1>
        <div class="thumbnail">
          <img src="/media/main_page/thaumiel.jpg ">

        </div>
      </div>

      <div class="row">

       <h3 align="center">Классификация:</h3>
        </div>
        
        <div align="center">
          <h3 class="alert alert-secondary text-center">Thaumiel</h3>
          <p>Объекты класса «Таумиэль» имеют высокую степень секретности, встречаются крайне редко и применяются Фондом для содержания или противодействия другим аномалиям, представляющим большую опасность, в особенности - объектам класса «Кетер».
    Сама информация о существовании объектов класса «Таумиэль» является секретной и доступна только высокопоставленным сотрудникам Фонда,
    Объект класса «Евклид» можно сравнить с диким животным, которое может как напасть, так и пройти мимо. </p>
        </div>
  </div>
</div>
</body>
</html>
